# backend.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: 1220-mern-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: noorulain26/docker-mern-nginx-bezkoder-api-1:latest
          ports:
            - containerPort: 6868
          env:
            - name: MONGODB_URI
              value: "mongodb://root:123456@mongodb-service:27017/bezkoder_db?authSource=admin"
            - name: MONGO_URL
              value: "mongodb://root:123456@mongodb-service:27017/bezkoder_db?authSource=admin"
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: 1220-mern-app
spec:
  type: NodePort
  selector:
    app: backend
  ports:
    - port: 6868
      targetPort: 6868
      nodePort: 30300
